In [1]:
2 + 2

4

In [2]:
print(2)

2

In [3]:
x = "my string"

In [4]:
print(len(x))

9

In [23]:
# LISTS are mutable
[1,2,3]

[1, 2, 3]

In [6]:
["hi", 1 , 2]

['hi', 1, 2]

In [7]:
my_list = [1,2,1,2,1,444,"hello"]

In [8]:
print(my_list)

[1, 2, 1, 2, 1, 444, 'hello']

In [9]:
print(my_list[0])

1

In [14]:
list_of_letters = ["a","b","c","d"]

In [15]:
# DICTIONARIES have different properties from lists, they operate like an key-value pair.

In [18]:
d = {"key":10,"key2":"seconditem"}

In [22]:
# TUPLES are similar to lists but they use parenthes () but IT IS IMMUTABLE

In [21]:
t = (1,2,3,4)

In [25]:
my_list[0] = "new value"

In [32]:
t[0] = "A"

TypeError: 'tuple' object does not support item assignment

In [35]:
# SETS are unique values of unorderd, unique items.